<div class="min-h-screen mt-8 bg-white p-4 shadow rounded-lg">
  <div class="bg-white p-4 rounded-md mt-4">
    <h2 class="text-gray-500 text-lg font-semibold pb-4">Expenses</h2>
    <div class="my-1"></div>
    <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div>

    <table class="w-full table-auto text-sm">
      <thead>
        <tr class="text-sm leading-normal">
          <th
            class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b"
          >Expense Name</th>
          <th
            class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b"
          >Expense Date</th>
          <th
            class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b text-right"
          >Amount</th>
        </tr>
      </thead>
      <tbody>
        <form class="flex gap-4" action="" id="form">
          <td class="py-2 px-4 border-b">
            <div>
              <input
                type="text"
                placeholder="Expense name"
                id="name"
                name="expense-name"
                class="border rounded py-2 px-3 text-gray-700 focus:outline-none focus:border-blue-500"
              />
            </div>
          </td>
          <td class="py-2 px-4 border-b">
            <div>

              <input
                type="date"
                placeholder="Expense date"
                id="date"
                class="border rounded py-2 px-3 text-gray-700 focus:outline-none focus:border-blue-500"
              />
            </div>
          </td>
          <td class="py-2 px-4 border-b text-right">
            <div>

              <input
                placeholder="Amount"
                id="amount"
                class="border rounded py-2 px-3 text-gray-700 focus:outline-none focus:border-blue-500"
              />
            </div>
          </td>
          <td class="justify-center" style="text-align:center">
            <button
              type="submit"
              class="bg-cyan-500 hover:bg-cyan-600 text-white font-semibold py-2 px-4 rounded"
            >
              Add
            </button>
          </td>
        </form>
        {{#each expense.expenses}}
          <tr class="hover:bg-grey-lighter">
            <td class="py-2 px-4 border-b"><a
                href="/expense/{{id}}"
              >{{expense_name}}</a></td>
            <td class="py-2 px-4 border-b">{{format_date expense_date}}</td>
            <td class="py-2 px-4 border-b text-right">{{format_amount
                amount
              }}</td>
            <td class="justify-center" style="text-align: center;">
              <button
                class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded"
              ><a href="/expense/{{id}}">
                  edit</a>
              </button>
            </td>
          </tr>
        {{/each}}

      </tbody>
    </table>

  </div>
</div>

<script src="/js/expense.js"></script>