<div class="flex flex-col h-screen bg-gray-100">
  <div
    class="bg-white text-white shadow w-full p-2 flex items-center justify-between"
  >
    <div class="flex items-center">
      <div class="flex items-center">
        <h2 class="text-gray-400 font-bold text-xl"><b>Welcome
            {{user.name}}</b></h2>
      </div>
      <div class="md:hidden flex items-center">
        <button id="menuBtn">
          <i class="fas fa-bars text-gray-500 text-lg"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="flex-1 flex flex-wrap">
    <div
      class="p-2 bg-white w-full md:w-60 flex flex-col md:flex hidden"
      id="sideNav"
    >
      <nav>
        <a
          class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-cyan-500 hover:text-white"
          href="/"
        >
          <i class="fas fa-home mr-2"></i>Home
        </a>
        <a
          class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-cyan-500 hover:text-white"
          href="/bills"
        >
          <i class="fas fa-file-alt mr-2"></i>Bills
        </a>

        <a
          class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-cyan-500 hover:text-white"
          href="/expenses"
        >
          <i class="fa-solid fa-wallet mr-2"></i>Expenses
        </a>
      </nav>

      <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mt-2"></div>
    </div>

    <div class="flex-1 p-4 w-full md:w-1/2 sm:wd-1/2">

      <div
        class="mt-8 flex flex-wrap space-x-0 space-y-2 md:space-x-4 md:space-y-0"
      >

        <div class="flex-1 bg-white p-4 shadow rounded-lg md:w-1/2">
          <h2 class="text-gray-500 text-lg font-semibold pb-1">Budget</h2>
          <div class="my-1"></div>
          <div
            class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"
          ></div>
          <div
            class="chart-container"
            style="position: relative; height:150px; width:100%"
          >

            <canvas id="usersChart"></canvas>
          </div>
          <div class="px-4 py-4 mt-6">
            <div class="flex">
              <p>Average Monthly Income: {{format_amount user.income}}</p>
              <input
                type="text"
                id="income"
                placeholder="Enter income amount"
                class="border rounded py-2 px-3 text-gray-700 focus:outline-none focus:border-blue-50"
              />
              <button
                type="submit"
                class="h-10 w-20 text-xs bg-cyan-500 hover:bg-cyan-600 text-white font-semibold py-1 px-1 rounded"
              >Add income</button>
            </div>
            <p class="bg-gray-200">Bills Total:
              {{format_amount user.totalBills}}</p>
            <p>Budget: {{format_amount budget}}</p>
            <p class="bg-gray-200">Current Expenses Total:
              {{format_amount user.totalExpenses}}</p>
            <p>Budget Remaining: {{format_amount remaining}}</p>
          </div>
        </div>

        
      </div>

      

      
      </div>
    </div>
  </div>
</div>